<launch>

  <arg name="sim" default="true"/>
  <arg name="robot_model" default="px100"/>
  <arg name="dof" default="4"/>
  <arg name="world_name" default="$(find robomaker_workshop)/worlds/px100.world"/>
  <arg name="table_height" default="0.715"/>
  <arg name="x_offset" default="-0.15"/>
  
  <env name="GAZEBO_RESOURCE_PATH" value="$(find robomaker_workshop)"/>
  <env name="GAZEBO_MODEL_PATH" value="$(find robomaker_workshop)/models"/>


  <!--####################################################################-->
  <!--#########  This group gets executed only when sim is true  #########-->
  <!--####################################################################-->
  <group if="$(arg sim)">
        
    <!--++++++++++++++++++++++++++  Begin STEP 1  ++++++++++++++++++++++++++-->
    <!--+++++++++++++++++  Initiate simulation environment  ++++++++++++++++-->

    <!--+++++++++++++++++++++++++++  End STEP 1  +++++++++++++++++++++++++++-->
    
	  
    <!--++++++++++++++++++++++++++  Begin STEP 2  ++++++++++++++++++++++++++-->
    <!--++++++++++++  Publish statics and visuals of robot arm  ++++++++++++-->
    
    <!--+++++++++++++++++++++++++++  End STEP 2  +++++++++++++++++++++++++++-->
    
	  
    <!--++++++++++++++++++++++++++  Begin STEP 3  ++++++++++++++++++++++++++-->
    <!--++++++++++++++++++  Set up controllers for robot  ++++++++++++++++++-->
	  
    <!--+++++++++++++++++++++++++++  End STEP 3  +++++++++++++++++++++++++++-->
      
      
    <!--++++++++++++++++++++++++++  Begin STEP 4  ++++++++++++++++++++++++++-->
    <!--++++++++++++++  Open Rviz visualization for the system ++++++++++++++-->

    <!--+++++++++++++++++++++++++++  End STEP 4  +++++++++++++++++++++++++++-->
  
  
    <!-- TODO: see if moveit setup is only needed during sim -->
    <!--++++++++++++++++++++++++++  Begin STEP 5  ++++++++++++++++++++++++++-->
    <!--++++++++++++++++ Launch moveit planning integration ++++++++++++++++-->

    <!--+++++++++++++++++++++++++++  End STEP 5  +++++++++++++++++++++++++++-->
    
    
    <!--++++++++++++++++++++++++++  Begin STEP 6  ++++++++++++++++++++++++++-->
    <!--++++++++++++++++++ Set robot to initial position +++++++++++++++++++-->

    <!--+++++++++++++++++++++++++++  End STEP 6  +++++++++++++++++++++++++++-->
    
  </group>
  
  
  
  <!--####################################################################-->
  <!--############  This code gets executed regardless of sim  ###########-->
  <!--####################################################################-->
  
  <!--++++++++++++++++++++++++++  Begin STEP 7  ++++++++++++++++++++++++++-->
  <!--+++++++++++++ Start utility for capturing camera shots +++++++++++++-->

  <!--+++++++++++++++++++++++++++  End STEP 7  +++++++++++++++++++++++++++-->
  

  
  <!--####################################################################-->
  <!--#########  This group gets executed only when sim is false  ########-->
  <!--####################################################################-->
  <group unless="$(arg sim)">
    
    <!--++++++++++++++++++++++++++  Begin STEP 8  ++++++++++++++++++++++++++-->
    <!--+++++++++++++++++ Publish local USB camera stream ++++++++++++++++++-->

    <!--+++++++++++++++++++++++++++  End STEP 9  +++++++++++++++++++++++++++-->
    
  </group>
	
</launch>
