<launch>
    <arg name="world_name" default=""/>
    <arg name="robot_model" default=""/>
    <arg name="table_height" default="0.715"/>
    <arg name="x_offset" default="-0.15"/>

    <env name="GAZEBO_RESOURCE_PATH" value="$(find px100_simulation)"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find px100_simulation)/models"/>

    <!-- Open Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <!-- Spawn robot arm in Gazebo -->
    <node pkg="gazebo_ros" name="urdf_spawner" type="spawn_model" respawn="false" output="screen" ns="$(arg robot_model)"
      args="-urdf -model $(arg robot_model) -param robot_description -x $(arg x_offset) -z $(arg table_height)"/>

</launch>