<?xml version="1.0"?>

<model>
  <name>Zcash</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Adi Singh</name>
    <email>adsnghw@amazon.com</email>
  </author>

  <description>
    Physical Zcash model thickened for easy grasping
  </description>

</model>
